﻿
@{
    ViewBag.Title = "EditAlbum";
    Layout = "~/Views/Registration/Header.cshtml";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/edit")


<div class="inputbox">
    <div>
        <p>
            Titulo do álbum
            <input type="text" placeholder="@Model.Name" alt="Titulo da Imagem" id="album_title" value="@Model.Name" />
        </p>
        <p>
            URL da imagem
            <input type="text" placeholder="@Model.AlbumImage" alt="URL da Imagem" id="image_url" onchange="changeImg()" value="@Model.AlbumImage" />
        </p>
        <div>
            <button class="button" onclick="EditEnviaDados(AlbumDict,@Model.Id)">Salvar</button>
            <button class="button" onclick="window.location.href = '/Home/Index'">Cancelar</button>
        </div>
    </div>
    <div class="imagebox">
        <img src="@Model.AlbumImage" id="img_music" />
    </div>
</div>
<button class="button" id="addmusica" onclick="openModalMusic()" style="margin-top:30px">Adicionar Musica</button>
<div class="bg-modal" id="addmusica_id">
    <div class="modal-addmusica">
        <div class="fecha">+</div>
        Detalhes da música
        <hr />
        <div class="musicclass">
            <p>
                Titulo
                <input type="text" id="nome_musica" />
            </p>
            <p>
                Gênero
                <input type="text" id="genero_musica" />
            </p>
            <p>
                Duração
                <input type="text" id="duracao_musica" />
            </p>
        </div>
        <hr />
        <button class="addmusicbutton" style="background-color:red" id="cancel" onclick="document.getElementById('addmusica_id').style.display = 'none'">Cancelar</button>
        <button class="addmusicbutton" onclick="EditAddMusicToList(@Model.Id)">Salvar</button>
    </div>
</div>
<div class="musiclistheader">
    <div>
        <p id="titulo_music">Titulo</p>
    </div>
    <div>
        <p id="genre_music">Gênero</p>
    </div>
    <div>
        <p id="length_music">Duração</p>
    </div>
    <div>
        <p>Operaçoes</p>
    </div>
</div>
<div class="musiccolor" id="listofmusic">
    <div class="musiclist">
        <script>
        $(document).ready(showMusicOnEditAlbum(@Model.Id))
        </script>
    </div>
</div>
<div class="bg-modal" id="editmusicmodal">
    <div class="modal-addmusica">
        <div class="fecha" onclick="document.getElementById('editmusicmodal').style.display = 'none'">+</div>
        Detalhes da música
        <hr />
        <div class="musicclass">
            <p>
                Titulo
                <input type="text" id="nome_musica_editmodal" />
            </p>
            <p>
                Gênero
                <input type="text" id="genero_musica_editmodal" />
            </p>
            <p>
                Duração
                <input type="text" id="duracao_musica_editmodal" placeholder="Duração em minutos"/>
                <input type="hidden" id="musicId" />
            </p>
        </div>
        <hr />
        <button class="addmusicbutton" style="background-color:red" onclick="document.getElementById('editmusicmodal').style.display = 'none'">Cancelar</button>
        <button class="addmusicbutton" onclick="EditMusicFromList()">Salvar</button>
    </div>
</div>
<div class="bg-modal" id="removeModal">
    <div class="modal-addmusica_index">
        Confirmação de exclusão
        <hr />
        Para exclusão da musica digite EXCLUIR no campo abaixo
        <input type="text" placeholder="Digite aqui" id="delete_text" />
        <hr />
        <input type="hidden" id="musicid" />
        <button class="addmusicbutton_index" style="background-color:red" id="cancel" onclick="document.getElementById('removeModal').style.display = 'none'">Cancelar</button>
        <button class="addmusicbutton_index" onclick="removeMusic(document.getElementById('delete_text').value, document.getElementById('musicid').value)">Confirmar</button>
    </div>
</div>