﻿<html>
<head>
    @Styles.Render("~/Content/quick")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>SpotWayy</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://image.flaticon.com/icons/png/512/49/49097.png" />
</head>
<body>
    <a href="/"><p class="header" style="font-size:20px">SpotWayy</p></a>
    @RenderBody()
</body>
</html>