﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Registration/Header.cshtml";
}
<script type="text/javascript">
    function abrirModalMusica(){
        document.querySelector('.bg-modal').style.display = 'flex';
        document.querySelector('.fecha').addEventListener('click', function () {
            document.querySelector('.bg-modal').style.display = 'none';
        });
    }
</script>
<div class="inputbox">
    <form action="/Registration" method="post">
        <div>
            <p>
                Titulo do álbum
                <input type="text" placeholder="@Model.Name" alt="Titulo da Imagem" name="album_title" />
            </p>
            <p>
                URL da imagem
                <input type="text" placeholder="@Model.AlbumImage" alt="URL da Imagem" name="image_url" />
            </p>
            <div>
                <button class="button">Salvar</button>
                <button class="button">Cancelar</button>
            </div>
        </div>
    </form>
    <div class="imagebox">
        <img src="@Model.AlbumImage" />
    </div>
</div>
<button class="button" id="addmusica" onclick="abrirModalMusica()" style="margin-top:30px">Adicionar Musica</button>
<div class="bg-modal">
    <div class="modal-addmusica">
        <div class="fecha">+</div>
        Detalhes da música
        <hr />
        <div class="musicclass">
            <p>
                Titulo
                <input type="text" name="nome_musica" />
            </p>
            <p>
                Gênero
                <input type="text" name="genero_musica" />
            </p>
            <p>
                Duração
                <input type="text" name="duracao_musica" />
            </p>
        </div>
        <hr />
        <input type="button" class="button" placeholder="Salvar"/>
    </div>
</div>
<div class="musiclistheader">
    <div>
        <p>Titulo</p>
    </div>
    <div>
        <p>Gênero</p>
    </div>
    <div>
        <p>Duração</p>
    </div>
    <div>
        <p>Operaçoes</p>
    </div>
</div>
<div class="musiccolor">
    @{
        foreach (var music in Model.MusicsList)
        {
            <div class="musiclist">
                <div>
                    <p>@music.Name</p>
                </div>
                <div>
                    <p>@music.MusicGenre</p>
                </div>
                <div>
                    <p>@music.MusicLength</p>
                </div>
                <div>
                    <p>Operaçoes</p>
                </div>
            </div>
        }
    }
</div>