﻿
@{
    ViewBag.Title = "NewAlbum";
    Layout = "~/Views/Registration/Header.cshtml";
}
@Scripts.Render("~/bundles/edit")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<div class="inputbox">
        <div>
            <p>
                Titulo do álbum
                <input type="text" placeholder="Titulo da Imagem" id="album_title" />
            </p>
            <p>
                URL da imagem
                <input type="text" placeholder="URL da Imagem" id="image_url" onchange="changeImg()" />
            </p>
            <div>
                <button class="button" onclick="NewEnviaDados(AlbumDict)">Salvar</button>
                <button class="button" onclick="window.location.href = '/Home/Index'; window.location.reload()">Cancelar</button>
            </div>
        </div>
    <div class="imagebox">
        <img id="img_music" src="https://utmsi.utexas.edu/components/com_easyblog/themes/wireframe/images/placeholder-image.png" />
    </div>
</div>
<button class="button" id="addmusica" onclick="openModalMusic()" style="margin-top:30px">Adicionar Musica</button>
<div class="bg-modal">
    <div class="modal-addmusica">
        <div class="fecha">+</div>
        Detalhes da música
        <hr />
        <div class="musicclass">
            <p>
                Titulo
                <input type="text" id="nome_musica" />
            </p>
            <p>
                Gênero
                <input type="text" id="genero_musica" />
            </p>
            <p>
                Duração
                <input type="text" id="duracao_musica" />
            </p>
        </div>
        <hr />
        <button class="addmusicbutton" style="background-color:red" id="cancel">Cancelar</button>
        <button class="addmusicbutton" onclick="NewAddMusicToList()">Salvar</button>
    </div>
</div>
<div class="bg-modal" id="editmusicmodal">
    <div class="modal-addmusica">
        <div class="fecha" onclick="document.getElementById('editmusicmodal').style.display = 'none'" >+</div>
        Detalhes da música
        <hr />
        <div class="musicclass">
            <p>
                Titulo
                <input type="text" id="nome_musica" />
            </p>
            <p>
                Gênero
                <input type="text" id="genero_musica" />
            </p>
            <p>
                Duração
                <input type="text" id="duracao_musica" />
            </p>
        </div>
        <hr />
        <button class="addmusicbutton" style="background-color:red" onclick="document.getElementById('editmusicmodal').style.display = 'none'">Cancelar</button>
        <button class="addmusicbutton" onclick="EditMusicFromList()">Salvar</button>
    </div>
</div>
<div class="musiclistheader">
    <div>
        <p>Titulo</p>
    </div>
    <div>
        <p>Gênero</p>
    </div>
    <div>
        <p>Duração</p>
    </div>
    <div>
        <p>Operaçoes</p>
    </div>
</div>
<div class="musiccolor" id="listofmusic">
</div>