﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Registration/Header.cshtml";
}
@Scripts.Render("~/bundles/edit")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<button type="button" class="buttonhome" style="margin-top: 30px;" onclick="window.location.href='/Registration/NewAlbum'">Adicionar album</button>
<input type="text" placeholder="Pesquisar album" class="searchbox" oninput="getItemsBoxAlbum(value)" id="search_box_id">
<br />
<div class="wrapper" id="allmusics">
    @{

        foreach (var Album in Model)
        {
            <div>
                <p>@Album.Name</p>
                <img src="@Album.AlbumImage" onerror="this.onerror=null;this.src='https://utmsi.utexas.edu/components/com_easyblog/themes/wireframe/images/placeholder-image.png'" class="album-image">
                <div class="withborder">
                    <div><input type="submit" id="button_editar" value="Editar" class="buttonhome" onclick="window.location.href = '/Registration/EditAlbum/@Album.Id'" /></div>
                    <div><input type="submit" id="button_excluir" value="Excluir" class="buttonhome" onclick="showModal(@Album.Id)" /></div>
                    <input type="hidden" name="id" value="@Album.Id" />
                </div>
            </div>
        }
    }
</div>
@{
    foreach (var Album in Model)
    {
        <div class="bg-modal" id="@Album.Id">
            <div class="modal-addmusica_index">
                Confirmação de exclusão
                <hr />
                Para exclusão do album @Album.Name digite EXCLUIR no campo abaixo
                <input type="text" placeholder="Digite aqui" id="delete_text_@Album.Name" />
                <hr />
                <button class="addmusicbutton_index" style="background-color:red" id="cancel" onclick="document.getElementById(@Album.Id).style.display = 'none'">Cancelar</button>
                <button class="addmusicbutton_index" onclick="removeAlbum(document.getElementById('delete_text_@Album.Name').value, @Album.Id)">Confirmar</button>
            </div>
        </div>
    }
}
