﻿.header {
    background-color: black;
    color: white;
    border-width: 10px;
    border-style: solid;
    border-radius: 10%;
    margin-top: -17px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    font-size: 20px;
    font-family: Quicksand, Arial;
}

body {
    font-size: 18px;
    font-family: Roboto;
}
.button {
    background-color: #eee;
    border: #eee 1px solid;
    margin-left: 15px;
    border: solid 1px;
    border-radius: 4px;
}
.buttonhome {
    background-color: #eee;
    border: #eee 1px solid;
    margin-left: 15px;

}
.searchbox {
    float: right;
    margin-right: 15px;
    font-size: 16px;
    margin-top: 30px;
}
.album-image {
    width: 320px;
    height: 300px;
    display: block;
}
.imagebox{
    display:grid;
}
.imagebox > img{
    width:150px;
    border-style:solid;
    border-width:1px;
    border-radius:1px;
}
.wrapper {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(4,25%);
    justify-items: start;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.wrapper > div {
    border: black 1px solid;
    border-radius: 3px;
 }
.wrapper > div > p{
    text-align: center;
    margin: 0px 0px 0px;
}
.withborder  {
    display: grid;
    grid-template-columns: repeat(2,50%);
    margin-bottom: 0px;
}
.withborder  > div {
    background: #eee;
    text-align: center;
}
.withborder > div > button {
    background-color: #eee;
    border: #eee 1px solid;
}
.inputbox {
    display:grid;
    grid-column-gap: 40px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(4,25%);
    justify-items: start;
    margin-left: 15px;
    margin-top:30px;
}
.inputbox >  div{
    width: 350px;
}
.inputbox > div > div{
    width: 340px;
    margin-left:78px;
    grid-column-gap:15px;
}
.inputbox > div > div > button {
    justify-items: end;
    margin-left:53px;
}
.fecha {
    position: absolute;
    top: 0;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
    right: 14px;
}
.bg-modal{
    background-color:rgba(0,0,0,0.7);
    width:100%;
    height:100%;
    position:fixed;
    display:none;
    top:0;
    justify-content:center;
    align-items:center;
}
.modal-addmusica{
    position:relative;
    background-color:white;
    width:400px;
    height:250px;
    border-radius:4px;
}
.modal-addmusica > button {
    float:right;
    margin-right:5px;
    border: none;
    border-radius: 0px;
}
.modal-addmusica > input{
    width: 390px;
    margin-left: 5px;
}

.musicclass{
    text-align: end;
    margin-right: 15px;
}
.musicclass > p > input{
    width: 300px;
}
.musiclistheader {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 15px;
    grid-template-columns: 15% 35% 25% 25%;
    justify-items: start;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #4a4a4a;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
}
.musiclistheader > div {
    border-left: 1px solid black;
    border-radius: 1px;
}
.musiclist {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 15% 35% 25% 25%;
    justify-items: start;
    border-radius: 4px;
    border: 1px solid black;
}

.musiccolor{
    background-color:#ddd;
    margin-left:15px;
    margin-right: 15px;
}
.musiccolor > div:nth-last-child(odd){
    background-color:white;
}
.addmusicbutton {
    background-color: blue;
    color: white;
    margin-top: 2px;
}
.bg-modal_index {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    justify-content: center;
    align-items: center;
}
.modal-addmusica_index {
    position: relative;
    background-color: white;
    width: 400px;
    height: 220px;
    border-radius: 4px;
}
.modal-addmusica_index > button {
    float: right;
    margin-right: 5px;
    border: none;
    border-radius: 0px;
}

.modal-addmusica_index > input {
    width: 390px;
    margin-left: 5px;
}
.addmusicbutton_index {
    background-color: blue;
    color: white;
}